:root {
   --angular-gradient: linear-gradient(
    to right,
    #009246, /* Green */
    #0B8048, /* Darker Green */
    #0F9152, /* Even Darker Green */
    #136F5C, /* Even Darker Green */
    #17826E, /* Even Darker Green */
    #1B956A, /* Even Darker Green */
    #1FAB78, /* Even Darker Green */
    #23C085, /* Even Darker Green */
    #27D593, /* Even Darker Green */
    #2BEBA0, /* Even Darker Green */
    #F1F2F1, /* White */
    #E8E8E8, /* Light Gray */
    #DFDFDF, /* Even Lighter Gray */
    #D6D6D6, /* Even Lighter Gray */
    #CDCDCD, /* Even Lighter Gray */
    #C4C4C4, /* Even Lighter Gray */
    #BBBBBB, /* Even Lighter Gray */
    #B2B2B2, /* Even Lighter Gray */
    #A9A9A9, /* Even Lighter Gray */
    #A0A0A0, /* Even Lighter Gray */
    #CE2B37, /* Red */
    #C42733, /* Darker Red */
    #BA232F, /* Even Darker Red */
    #B01F2B, /* Even Darker Red */
    #A61B27, /* Even Darker Red */
    #9C1723, /* Even Darker Red */
    #92131F, /* Even Darker Red */
    #880F1B, /* Even Darker Red */
    #7E0B17, /* Even Darker Red */
    #740713, /* Even Darker Red */
    #6A030F  /* Even Darker Red */
  );

  --red-color: #CE2B37;
  --accent-color: #252a27;
  --purple-color: #F1F2F1;
  --background-color: #0f0f11;
  --border-color: #232125;

  font-family: Montserrat, sans-serif;

  color-scheme: dark;
  color: white;
  background-color: var(--background-color);
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-height: 100vh;
}

a {
  color: white;
}

a:hover,
.active-link {
  color: var(--accent-color);
}

.section-title {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  margin: 4rem 2rem 2rem 2rem;
}

.section-subtitle {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 1.25rem 0;
}

a > img {
  transition: transform 0.6s;
}

a:hover > img {
  transform: scale(1.1);
}

.highlighted-text {
  -webkit-background-clip: text;
  color: transparent;
  background-image: var(--angular-gradient);
  font-weight: 600;
}
